<div class="max-w-sm w-full bg-white rounded-lg shadow  p-4 md:p-6">

    <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 ">
      <div class="chart-title">Average Patient Visit</div>
    </div>
  
    <div class="grid grid-cols-1">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [plotOptions]="chartOptions.plotOptions"
        [tooltip]="chartOptions.tooltip"
        [legend]="chartOptions.legend"
        [grid]="chartOptions.grid"
        [stroke]="chartOptions.stroke"
        [dataLabels]="chartOptions.dataLabels"
        [fill]="chartOptions.fill"
        class="w-full h-[320px]"
      ></apx-chart>
    </div>
  
    <div class="grid grid-cols-1 items-center border-gray-200 border-t justify-between">
      <!-- Your button and other controls -->
    </div>
  </div>
  