<div class="flex justify-center">
    <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 md:p-6">
        <div class="flex justify-between mb-3">
            <div class="flex justify-center items-center">
                <h5 class="text-xl leading-none text-gray-900 pe-1">Patient Visit By Department</h5>
            </div>
        </div>

        <div>
            <div class="flex" id="devices">
                <div class="flex items-center me-4">
                    <input id="desktop" type="checkbox" value="cardiology"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                        (change)="handleCheckboxChange($event)">
                    <label for="desktop" class="ms-2 text-sm font-medium text-gray-900">Cardiology</label>
                </div>
                <div class="flex items-center me-4">
                    <input id="tablet" type="checkbox" value="neurology"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                        (change)="handleCheckboxChange($event)">
                    <label for="tablet" class="ms-2 text-sm font-medium text-gray-900">Neurology</label>
                </div>
                <div class="flex items-center me-4">
                    <input id="mobile" type="checkbox" value="dermatology"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                        (change)="handleCheckboxChange($event)">
                    <label for="mobile" class="ms-2 text-sm font-medium text-gray-900">Dermatology</label>
                </div>
            </div>
        </div>

        <div class="py-6">
            <canvas id="patientVisitChart"></canvas>
        </div>
    </div>
</div>