.otp_section {
    width: 100%;
    background-color: #f8f8f8;
    margin-top: 2%;
    border-radius: 0.7rem;
}

.otp_section label {
    margin-left: 6%;
    margin-top: 8%;
    margin-bottom: 2%;
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
    color: #4E6BF4;
    font-size: 19px;
    user-select: none;
}

.otp_section p{
    margin-left: 8%;
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.number-input-panel{
    width: 100%;
    height: 20%;
    background-color: #bdbdbe;
}

.otp_textFiled {
    width: 50%;
    outline: none;
    border: 10px #E0DDDD;
    font-size: 17px;
    border-radius: 0.2rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.otp_section input::placeholder {
    font-size: 15px;
    font-family: manjari;
    font-weight: 300;
    font-style: normal;
}

.otp_section span {
    background-color: #7288F3;
    padding: 5px 25px;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #DFE5FF;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

.otp_section span:hover {
    background-color: #4E6BF4; 
}

.otp_section span:active {
    transform: scale(0.95); 
    background-color: #3b4f8b;
}

.otp_resend_option {
    user-select: none;
    color: #1abd35;
    cursor: pointer;
    font-family: "Inria Sans", sans-serif;
    font-size: 16px;
}

.otp_resend_option:active{
    color: #1d9738;
}