@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MergeOne-Regular';
  src: url('/fonts/MergeOne-Regular.ttf');
}

@font-face {
  font-family: 'Manjari-Bold';
  src: url('/fonts/Manjari-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
}

.main-body {
  background-color: #ebeef0;
  border-radius: 0.5rem;
}

.hopital-logo {
  height: 70px;
}

.hospital-name {
  font-family: MergeOne-Regular;
}

.dashboard-icon,
.profile-edit-icon,
.mail-icon,
.appointment-icon,
.details-icon,
.logout-icon {
  margin-top: 5%;
  height: 8%;
  align-items: center;
  color: #9999ff;
}

.dashboard-icon:hover,
.profile-edit-icon:hover,
.mail-icon:hover,
.appointment-icon:hover,
.details-icon:hover,
.logout-icon:hover {
  color: #7a7acc;
}
