<Div class=" flex items-center my-2 mx-4">
    <div class="title">Doctors</div>
</Div>

<div class="flex justify-center my-4 mx-2" style="background-color: aqua;">
    <div class="bg-white rounded border-spacing-1 w-full">

               <div class="flex items-center justify-between  my-5" style="background-color: aquamarine;">
                  <div class="flex-shrink-0">
                     <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
                  </div>
                  <div class="flex-1 min-w-0">
                     <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        Neil Sims
                     </p>
                  </div>
               </div>

               <div class="flex items-center space-x-4 rtl:space-x-reverse my-5">
                  <div class="flex-shrink-0">
                     <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="Neil image">
                  </div>
                  <div class="flex-1 min-w-0">
                     <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        Bonnie Green
                     </p>
                     <p class="text-sm text-gray-500 truncate dark:text-gray-400">
        
                     </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                     
                  </div>
               </div>

               <div class="flex items-center space-x-4 rtl:space-x-reverse my-5">
                  <div class="flex-shrink-0">
                     <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-2.jpg" alt="Neil image">
                  </div>
                  <div class="flex-1 min-w-0">
                     <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        Michael Gough
                     </p>
                     <p class="text-sm text-gray-500 truncate dark:text-gray-400">
        
                     </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                     
                  </div>
               </div>

               <div class="flex items-center space-x-4 rtl:space-x-reverse my-5">
                  <div class="flex-shrink-0">
                     <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="Neil image">
                  </div>
                  <div class="flex-1 min-w-0">
                     <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        Thomas Lean
                     </p>
                     <p class="text-sm text-gray-500 truncate dark:text-gray-400">
        
                     </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                     
                  </div>
               </div>

               <div class="flex items-center space-x-4 rtl:space-x-reverse my-5">
                  <div class="flex-shrink-0">
                     <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-4.jpg" alt="Neil image">
                  </div>
                  <div class="flex-1 min-w-0">
                     <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        Lana Byrd
                     </p>
                     <p class="text-sm text-gray-500 truncate dark:text-gray-400">
        
                     </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
    
                  </div>
               </div>

    </div>    
</div> 