<div class="container donor_form align-items-center mb-5">
    <div class="title row justify-content-center">
        <p>Organ Donation Form</p>
        <hr class="line">
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="imformation_section mb-4">
            <!-- PERSONAL DETAILS -->
            <div class="personal_imformation">

                <div class="sub_title">Personal Imformation</div>

                <div class="d-flex align-content-center justify-content-center">

                    <div class="sub-panel mt-2">
                        <!-- NAME -->
                        <div class="details-row">
                            <div class="form-label">Name</div>
                            <div class="text-area-ty-1">
                                <div class="text-filed-g-1">
                                    <input type="text" [(ngModel)] = "donor.firstName">
                                    <div class="form-text">First Name</div>
                                </div>
                                <div class="text-filed-g-1">
                                    <input type="text" [(ngModel)]="donor.lastName">
                                    <div class="form-text">Last Name</div>
                                </div>
                            </div>
                        </div>
                        <!-- DATEofBIRTH -->
                        <div class="details-row">
                            <div class="form-label">Date of Birth</div>
                            <div class="text-area-ty-2">
                                <div class="text-filed-g-1">
                                    <input type="date" placeholder="MM-DD-YYYY" [(ngModel)] = "donor.dob">
                                </div>
                            </div>
                        </div>
                        <!-- PHONE_NUMBER -->
                        <div class="details-row">
                            <div class="form-label">Phone Number</div>
                            <div class="text-area-ty-2">
                                <div class="text-filed-g-1">
                                    <input type="text" placeholder="(+94) 000-0000" [(ngModel)] = "donor.contactNo">
                                </div>
                            </div>
                        </div>
                        <!-- EMAIL -->
                        <div class="details-row">
                            <div class="form-label">Email</div>
                            <div class="text-area-ty-2">
                                <div class="text-filed-g-1">
                                    <input type="text" placeholder="example@gmail.com" [(ngModel)] = "email">
                                </div>
                            </div>
                        </div>
                        <!-- ADDRESS -->
                        <div class="details-row">
                            <div class="form-label">Address</div>
                            <div class="text-area-ty-1">
                                <div class="text-filed-g-3">
                                    <input type="text" [(ngModel)] = "donor.streetAddressLine">
                                    <div class="form-text">Street Address</div>
                                </div>
                            </div>
                            <div class="text-area-ty-1">
                                <div class="text-filed-g-3" [(ngModel)] = "donor.streetAddressLine2">
                                    <input type="text">
                                    <div class="form-text">Street Address Line 2</div>
                                </div>
                            </div>
                            <div class="text-area-ty-1">
                                <div class="text-filed-g-1">
                                    <input type="text" [(ngModel)] = "donor.city">
                                    <div class="form-text">City</div>
                                </div>
                                <div class="text-filed-g-1">
                                    <input type="text" [(ngModel)] = "donor.province">
                                    <div class="form-text">State/Province</div>
                                </div>
                            </div>
                            <div class="text-area-ty-2 mt-3">
                                <div class="text-filed-g-1">
                                    <input type="text" [(ngModel)] = "donor.postalCode">
                                    <div class="form-text">Postal/Zip Code</div>
                                </div>
                            </div>
                        </div>
                        <!-- RELIGION -->
                        <div class="details-row">
                            <div class="form-label">Religion</div>
                            <div class="text-area-ty-2">
                                <div class="text-filed-g-1">
                                    <input type="text" [(ngModel)] = "donor.religion">
                                </div>
                            </div>
                        </div>
                        <!-- GENDER -->
                        <div class="details-row">
                            <div class="form-label">Gender</div>
                            <div class="radio-area">
                                <div class="radio-filed">
                                    <input type="radio" name="gender">
                                    <div class="radio-label">Male</div>
                                </div>
                                <div class="radio-filed">
                                    <input type="radio" name="gender">
                                    <div class="radio-label">Female</div>
                                </div>
                                <div class="radio-filed">
                                    <input type="radio" name="gender">
                                    <div class="radio-label">N/A</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- //////////////////////// -->

            <!-- ORGAN_DETAILS -->
            <div class="organ_donation_Details">

                <div class="sub_title">Organ Donation Details</div>

                <div class="d-flex align-content-center justify-content-center">

                    <div class="sub-panel mt-2">
                        <!-- REGISTRAION_DATE -->
                        <div class="details-row">
                            <div class="form-label">Date od Registraion</div>
                            <div class="text-area-ty-2">
                                <div class="text-filed-g-1">
                                    <input type="text" id="date_of_registration" [(ngModel)] = "donor.dateOfRegistration">
                                </div>
                            </div>
                        </div>
                        <!-- ORGAN_TYPE -->
                        <div class="details-row">
                            <div class="form-label">Organs to be donated</div>
                            <div class="radio-area">
                                <!-- LIVER -->
                                <div class="radio-filed">
                                    <input type="radio" id="" value="" id="organ_type">
                                    <div class="radio-label">Liver</div>
                                </div>
                                <!-- KIDNEY -->
                                <div class="radio-filed">
                                    <input type="radio" id="" value="" id="organ_type">
                                    <div class="radio-label">Kidney</div>
                                </div>
                                <!-- PANCREAS -->
                                <div class="radio-filed">
                                    <input type="radio" id="" value="" id="organ_type">
                                    <div class="radio-label">Pancreas</div>
                                </div>
                                <!-- HEART -->
                                <div class="radio-filed">
                                    <input type="radio" id="" value="" id="organ_type">
                                    <div class="radio-label">Heart</div>
                                </div>
                                <!-- COMEA -->
                                <div class="radio-filed">
                                    <input type="radio" id="" value="" id="organ_type">
                                    <div class="radio-label">Comea</div>
                                </div>
                                <!-- BONE -->
                                <div class="radio-filed">
                                    <input type="radio" id="" value="" id="organ_type">
                                    <div class="radio-label">Bone</div>
                                </div>
                                <!-- LUNG -->
                                <div class="radio-filed">
                                    <input type="radio" id="" value="" id="organ_type">
                                    <div class="radio-label">Lung</div>
                                </div>
                                <!-- BONE_MARROW -->
                                <div class="radio-filed">
                                    <input type="radio" id="" value="" id="organ_type">
                                    <div class="radio-label">Bone Marrow</div>
                                </div>
                            </div>
                        </div>

                        <div class="details-row">
                            <div class="form-label">Specific Purpose</div>
                            <div class="radio-area">
                                <div class="radio-filed">
                                    <input type="radio" value="Medical Transplant">
                                    <div class="radio-label">Medical Transplant</div>
                                </div>
                            </div>
                            <div class="radio-area">
                                <div class="radio-filed">
                                    <input type="radio" value="Educational/Research">
                                    <div class="radio-label">Educational/Research</div>
                                </div>
                            </div>
                            <div class="radio-area">
                                <div class="radio-filed">
                                    <input type="radio" value="Both">
                                    <div class="radio-label">Both Medical Transplant and Educational/Research</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Acknowledgment and Terms">

                <div class="sub_title">Acknowledgment and Terms</div>

                <div class="d-flex align-items-center justify-content-center">
                    <div class="sub-panel mt-2">

                        <div class="details-row">

                            <div class="radio-area">
                                <div class="radio-filed">
                                    <input type="checkbox">
                                    <div class="radio-label">I confirm that the information i provided in this document
                                        is accurate and
                                        true.</div>
                                </div>
                            </div>

                            <div class="radio-area">
                                <div class="radio-filed">
                                    <input type="checkbox">
                                    <div class="radio-label">I allow my organs to be donated for medical transplant or
                                        educational/research purpose.</div>
                                </div>
                            </div>

                            <div class="radio-area">
                                <div class="radio-filed">
                                    <input type="checkbox">
                                    <div class="radio-label">I acknowledge that i have to inform my family about this
                                        registration.</div>
                                </div>
                            </div>

                            <div class="radio-area">
                                <div class="radio-filed">
                                    <input type="checkbox">
                                    <div class="radio-label">I confirm that i always need to keep the organ donor card
                                        and the document came with it.</div>
                                </div>
                            </div>

                            <div class="radio-area">
                                <div class="radio-filed">
                                    <input type="checkbox">
                                    <div class="radio-label">I allow my information to be submitted to donor registry.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="mt-5 mb-4">
                <div class="form_footer">
                    <div class="text-center">
                        <span class="btn-submit">Submit</span>
                        <span class="btn-clear">Clear Form</span>
                    </div>
                </div>
            </div>
        </div>
    </div>