.main-body {
    background-color: #ebeef0;
    border-radius: 0.5rem;
  }
  
  #datepicker-inline {
    width: 100%;
  }
  
  /* .sub {
    background-color: aqua;
  } */
  
  .patient-details-box {
    background-color: #e1cef7;
  }
  
  .inject-details-box {
    background-color: #d8f9a3;
  }
  
  .report-details-box {
    background-color: #fcebcf;
  }
  
  .surgery-details-box {
    background-color: #b6d5f9;
  }
  
  .patient-details-box svg {
    padding: 2%;
    fill: #6e6eb8;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
  }
  
  .inject-details-box svg {
    padding: 3%;
    fill: #d8f9a3;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
  }
  
  .report-details-box svg {
    padding: 3%;
    stroke: #e6b436;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
  }
  
  .surgery-details-box svg {
    padding: 3%;
    stroke: #618bba;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
  }
  
  .details-box-title {
    font-family: Manjari-Bold;
    font-size: 20px;
  }
  
  .count {
    font-family: 'Lato', sans-serif;
    font-weight: 550;
    font-size: 27px;
  }
  
  .last-7-days {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
  }
  
  .patient-vist-by-gender-box{
    background-color: #f9f9f9;
  }