@tailwind base;
@tailwind components;
@tailwind utilities;

.patient-details-side{
    background-color: #f4f4f4;
    border-radius: 0.8rem;
}

.patient-pic img{
    clip-path: circle(50% at 50% 50%);
    box-shadow: 5px 5px 5px 5px black;
}

.PATIENT-BIO-section svg{
    fill: rgb(173, 175, 175);
}

.PATIENT-BIO-section p{
    color: rgb(173, 175, 175);
    font-size: 15px;
    user-select: none;
}

.name{
    font-size: 20px;
}

.age{
    font-size: 18px;
}

.other-details p{
    color: rgb(173, 175, 175);
    font-size: 14px;
    margin-left: 2%;
    user-select: none;
}

.transplanet-section p{
    font-size: 14px;
    color: rgb(145, 149, 149);
    margin-left: 3%;
    user-select: none;
}

.transplant-center-label{
    font-size: 14px;
    user-select: none;
}

.header-title{
    font-size: 22px;
}

.form-header-body{
    font-size: 16px;
}

@media (max-width: 820px) {

    .header-title{
        font-size: 18px;
    }

    .form-header-body{
        font-size: 14px;
    }
}