<div class="donor_login_popup flex justify-center items-center mt-10">
    <div class="main_pannel flex justify-center mt-5 mb-5">
        <div class="box mt-5 mb-5"></div>
        <div class="left_side flex justify-center items-center mt-5 mb-5 md:w-full text-center">
            <img src="img/donor_login_page_image.png" alt="" class="login_image img-fluid">
        </div>
        <div class="right_side flex mt-5 mb-5 w-full">
            <div class="login_panel">
                <div class="option_row flex justify-center space-x-4">
                    <span>Sign Up</span>
                    <span>Sign in</span>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
